e3ENKYlla0Kzzou3.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "n8n": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config": {
      "main": [
        [
          {
            "node": "Get file data",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge Items",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Get File": {
      "main": [
        [
          {
            "node": "Merge Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File is new": {
      "main": [
        [
          {
            "node": "Create new file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Items": {
      "main": [
        [
          {
            "node": "isDiffOrNew",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "isDiffOrNew": {
      "main": [
        [
          {
            "node": "Create sub path",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Status": {
      "main": [
        [
          {
            "node": "Same file - Do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "File is different",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "File is new",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get file data": {
      "main": [
        [
          {
            "node": "If file too large",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create new file": {
      "main": [
        [
          {
            "node": "Return",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create sub path": {
      "main": [
        [
          {
            "node": "Check Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Backup Notification",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Failed Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Starting Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File is different": {
      "main": [
        [
          {
            "node": "Edit existing file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If file too large": {
      "main": [
        [
          {
            "node": "Get File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit existing file": {
      "main": [
        [
          {
            "node": "Return",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On clicking 'execute'": {
      "main": [
        [
          {
            "node": "Starting Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Same file - Do nothing": {
      "main": [
        [
          {
            "node": "Return",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Get Global Constants",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Starting Notification": {
      "main": [
        [
          {
            "node": "n8n",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Failed Notification": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Global Constants": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "constants": {
    "repo_owner": "Giancarmine",
    "repo_name": "n8n-workflow",
    "repo_path": "/"
  },
  "createdAt": "2025-12-03T10:48:30.952Z",
  "id": "e3ENKYlla0Kzzou3",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Backup to GitHub",
  "nodes": [
    {
      "parameters": {},
      "id": "9e0ed49b-6048-4670-afdf-cb9690493da6",
      "name": "On clicking 'execute'",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        480,
        80
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Subworkflow",
        "height": 732,
        "width": 2119,
        "color": 6
      },
      "id": "483f1dd3-aa42-475c-861d-8f1f3e20f8cb",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        464
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "e14f6bf5-e9bb-4580-a213-b7e783078436",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        64,
        848
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "id": "7a8deabf-d9b9-4a67-b5b7-94906a9d703c",
      "name": "n8n",
      "type": "n8n-nodes-base.n8n",
      "position": [
        896,
        192
      ],
      "typeVersion": 1,
      "credentials": {
        "n8nApi": {
          "id": "Iam21lZZMlOWATmQ",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8d513345-6484-431f-afb7-7cf045c90f4f",
              "name": "Done",
              "type": "boolean",
              "value": true
            }
          ]
        },
        "options": {}
      },
      "id": "5e143e06-53ac-4275-a6d5-53981b3962e1",
      "name": "Return",
      "type": "n8n-nodes-base.set",
      "position": [
        1936,
        672
      ],
      "typeVersion": 3.3
    },
    {
      "parameters": {
        "url": "={{ $json.download_url }}",
        "options": {}
      },
      "id": "8aab3f3e-65c5-4d1d-a73d-760c27da64bd",
      "name": "Get File",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        896,
        544
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "45ce825e-9fa6-430c-8931-9aaf22c42585",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              },
              "leftValue": "={{ $json.content }}",
              "rightValue": ""
            },
            {
              "id": "9619a55f-7fb1-4f24-b1a7-7aeb82365806",
              "operator": {
                "type": "string",
                "operation": "notExists",
                "singleValue": true
              },
              "leftValue": "={{ $json.error }}",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "id": "123cfec1-5201-4ae8-86ac-d43d612cb263",
      "name": "If file too large",
      "type": "n8n-nodes-base.if",
      "position": [
        656,
        560
      ],
      "typeVersion": 2
    },
    {
      "parameters": {},
      "id": "705f5798-659b-4cc0-9ec5-d141b0000ae9",
      "name": "Merge Items",
      "type": "n8n-nodes-base.merge",
      "position": [
        656,
        832
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "const orderJsonKeys = (jsonObj) => {\n  const ordered = {};\n  Object.keys(jsonObj).sort().forEach(key => {\n    ordered[key] = jsonObj[key];\n  });\n  return ordered;\n}\n\n// Check if file returned with content\nif (Object.keys($input.all()[0].json).includes(\"content\")) {\n  // Decode base64 content and parse JSON\n  const origWorkflow = JSON.parse(Buffer.from($input.all()[0].json.content, 'base64').toString());\n  const n8nWorkflow = $input.all()[1].json;\n  \n  // Order JSON objects\n  const orderedOriginal = orderJsonKeys(origWorkflow);\n  const orderedActual = orderJsonKeys(n8nWorkflow);\n\n  // Determine difference\n  if (JSON.stringify(orderedOriginal) === JSON.stringify(orderedActual)) {\n    $input.all()[0].json.github_status = \"same\";\n  } else {\n    $input.all()[0].json.github_status = \"different\";\n    $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n  }\n  $input.all()[0].json.content_decoded = orderedOriginal;\n// No file returned / new workflow\n} else if (Object.keys($input.all()[0].json).includes(\"data\")) {\n  const origWorkflow = JSON.parse($input.all()[0].json.data);\n  const n8nWorkflow = $input.all()[1].json;\n  \n  // Order JSON objects\n  const orderedOriginal = orderJsonKeys(origWorkflow);\n  const orderedActual = orderJsonKeys(n8nWorkflow);\n\n  // Determine difference\n  if (JSON.stringify(orderedOriginal) === JSON.stringify(orderedActual)) {\n    $input.all()[0].json.github_status = \"same\";\n  } else {\n    $input.all()[0].json.github_status = \"different\";\n    $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n  }\n  $input.all()[0].json.content_decoded = orderedOriginal;\n\n} else {\n  // Order JSON object\n  const n8nWorkflow = $input.all()[1].json;\n  const orderedActual = orderJsonKeys(n8nWorkflow);\n  \n  // Proper formatting\n  $input.all()[0].json.github_status = \"new\";\n  $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n}\n\n// Return items\nreturn $input.all();\n"
      },
      "id": "d2df3ea6-60fd-40d8-9ff2-26046226e0d1",
      "name": "isDiffOrNew",
      "type": "n8n-nodes-base.code",
      "position": [
        848,
        832
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{$json.github_status}}",
        "rules": {
          "rules": [
            {
              "value2": "same"
            },
            {
              "value2": "different",
              "output": 1
            },
            {
              "value2": "new",
              "output": 2
            }
          ]
        }
      },
      "id": "71c19f13-886e-4591-8dd1-e36434804348",
      "name": "Check Status",
      "type": "n8n-nodes-base.switch",
      "position": [
        1248,
        832
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "4d84f43e-e4d2-4dac-a0d0-8de29c4e36aa",
      "name": "Same file - Do nothing",
      "type": "n8n-nodes-base.noOp",
      "position": [
        1472,
        672
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "7891498f-100f-484e-a6f9-addab901adc2",
      "name": "File is different",
      "type": "n8n-nodes-base.noOp",
      "position": [
        1472,
        832
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "576033d7-1ff1-409c-8d30-9176927445b5",
      "name": "File is new",
      "type": "n8n-nodes-base.noOp",
      "position": [
        1472,
        1024
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "={{ $('Get Global Constants').item.json.constants.repo_owner }}",
          "mode": ""
        },
        "repository": {
          "__rl": true,
          "value": "={{ $('Get Global Constants').item.json.constants.repo_name }}",
          "mode": ""
        },
        "filePath": "={{$('Execute Workflow Trigger').first().json.id}}.json",
        "fileContent": "={{$('isDiffOrNew').item.json[\"n8n_data_stringy\"]}}",
        "commitMessage": "={{$('Execute Workflow Trigger').first().json.name}} ({{$json.github_status}})"
      },
      "id": "2933c5c4-b639-4592-90ba-2e4c4bebde81",
      "name": "Create new file",
      "type": "n8n-nodes-base.github",
      "position": [
        1696,
        1024
      ],
      "typeVersion": 1,
      "webhookId": "2dff9035-1012-499c-9a8e-245612f0c3d6",
      "credentials": {
        "githubOAuth2Api": {
          "id": "Vg4JlvP7vKTEQ1ve",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "mode": "",
          "value": "={{ $('Config').first().item.repo_owner }}"
        },
        "repository": {
          "__rl": true,
          "mode": "",
          "value": "={{ $('Config').first().item.repo_name }}"
        },
        "filePath": "={{ $('Config').first().item.repo_path }}{{ $json.subPath }}{{$('Execute Workflow Trigger').first().json.id}}.json",
        "fileContent": "={{$('isDiffOrNew').item.json[\"n8n_data_stringy\"]}}",
        "commitMessage": "={{$('Execute Workflow Trigger').first().json.name}} ({{$json.github_status}})"
      },
      "id": "3ce7bb35-b0d0-4c52-bc20-17409bc6483c",
      "name": "Edit existing file",
      "type": "n8n-nodes-base.github",
      "position": [
        1696,
        832
      ],
      "typeVersion": 1,
      "webhookId": "7c55ab67-c620-4d0c-a49e-acc78323b70d",
      "credentials": {
        "githubOAuth2Api": {
          "id": "Vg4JlvP7vKTEQ1ve",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "3b90f035-65c2-4659-982d-0d3cdaadcfd4",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        1104,
        192
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 1,
              "triggerAtMinute": 33
            }
          ]
        }
      },
      "id": "29b0ebe0-6ff5-4f5b-9e7d-3de6080cf8a4",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        480,
        288
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "dae43d3b-56e5-4098-b602-862ebf5cd073",
              "name": "subPath",
              "type": "string",
              "value": "={{ $('Execute Workflow Trigger').first().json.createdAt.split('-')[0] }}/{{ $('Execute Workflow Trigger').first().json.createdAt.split('-')[1] }}/"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "762ca000-71ea-4297-bb8a-aa367d7addca",
      "name": "Create sub path",
      "type": "n8n-nodes-base.set",
      "position": [
        1056,
        832
      ],
      "typeVersion": 3.3
    },
    {
      "parameters": {
        "content": "## Backup to GitHub\nThis workflow will backup all instance workflows to GitHub every 24 hours.\n\nThe files are saved into folders using `YYYY/MM/` for the directory path and `ID.json` for the filename.\n\nThe Repo Owner, Repo Name and Main folder are set using the **Variables** feature but can be replaced with the `Config` node in the subworkflow. \n\nThe workflow runs calls itself to help reduce memory usage, Once the workflow has completed it will send an optional notification to Slack.\n\n### Time to Run\nTested with 1423 workflows on `1.44.1` it took under 30 minutes for the first run and under 12 minutes once the initial run is complete.",
        "height": 417,
        "width": 385,
        "color": 4
      },
      "id": "d8ea4b68-4f8b-4b2c-b534-0e6c0ba17d6b",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Main workflow loop",
        "height": 416,
        "width": 1353,
        "color": 7
      },
      "id": "d5f61020-a73a-4d80-807e-b05c23ccbd15",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        416,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "workflowId": "={{ $workflow.id }}",
        "mode": "each",
        "options": {}
      },
      "id": "b769c8f3-ab28-4a5f-a0cd-d8801348af03",
      "name": "Execute Workflow",
      "type": "n8n-nodes-base.executeWorkflow",
      "position": [
        1328,
        208
      ],
      "typeVersion": 1,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "mode": "",
          "value": "={{ $('Config').first().item.repo_owner }}"
        },
        "repository": {
          "__rl": true,
          "mode": "",
          "value": "={{ $('Config').first().item.repo_name }}"
        },
        "filePath": "={{ $('Config').first().item.repo_path }}{{ $('Execute Workflow Trigger').first().json.createdAt.split('-')[0] }}/{{ $('Execute Workflow Trigger').first().json.createdAt.split('-')[1] }}/{{$json.id}}.json",
        "asBinaryProperty": false,
        "additionalParameters": {}
      },
      "id": "6095221c-1db6-4ae3-bb6f-ac293d0b0d78",
      "name": "Get file data",
      "type": "n8n-nodes-base.github",
      "position": [
        448,
        560
      ],
      "typeVersion": 1,
      "alwaysOutputData": true,
      "webhookId": "53965d94-1c84-4351-a0e0-cecd03f7a144",
      "credentials": {
        "githubOAuth2Api": {
          "id": "Vg4JlvP7vKTEQ1ve",
          "name": "GitHub account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8f6d1741-772f-462a-811f-4c334185e4f0",
              "name": "repo_owner",
              "type": "string",
              "value": "={{ $json.constants.repo_owner }}"
            },
            {
              "id": "8cac215c-4fd7-422f-9fd2-6b2d1e5e0383",
              "name": "repo_name",
              "type": "string",
              "value": "={{ $json.constants.repo_name }}"
            },
            {
              "id": "eee305e9-4164-462a-86bd-80f0d58a31ae",
              "name": "repo_path",
              "type": "string",
              "value": "={{ $json.constants.repo_path }}"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "bf9fb435-af68-4773-b051-6a9035e8c771",
      "name": "Config",
      "type": "n8n-nodes-base.set",
      "position": [
        448,
        848
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "chatId": "40310632",
        "text": "=ℹ️ Starting Workflow Backup [{{ $execution.id }}]",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        704,
        192
      ],
      "id": "7bd9bcfd-c3b5-46b1-90ec-9c0752841dec",
      "name": "Starting Notification",
      "webhookId": "ca9fe50a-b5e5-4731-9ed8-0b2f3129e1db",
      "credentials": {
        "telegramApi": {
          "id": "UOrfi0P3KEUhSo0c",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "40310632",
        "text": "✅ Backup has completed - {{ $('n8n').all().length }} workflows have been processed.",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1536,
        64
      ],
      "id": "5fb77845-b156-4201-bbc9-91b145917b13",
      "name": "Backup Notification",
      "webhookId": "ca9fe50a-b5e5-4731-9ed8-0b2f3129e1db",
      "credentials": {
        "telegramApi": {
          "id": "UOrfi0P3KEUhSo0c",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "40310632",
        "text": "=:x: Failed to backup {{ $('Loop Over Items').item.json.id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1536,
        224
      ],
      "id": "792d2553-a2d5-4f48-84aa-0a85c8a61246",
      "name": "Failed Notification",
      "webhookId": "53e70311-90dd-443b-abc9-8a589efa71f0",
      "credentials": {
        "telegramApi": {
          "id": "UOrfi0P3KEUhSo0c",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-globals.globalConstants",
      "typeVersion": 1,
      "position": [
        272,
        848
      ],
      "id": "f2730aea-db21-4d49-be58-9b746069487f",
      "name": "Get Global Constants",
      "credentials": {
        "globalConstantsApi": {
          "id": "AymHEDB1yNoJEe72",
          "name": "GitHub Config"
        }
      }
    }
  ],
  "pinData": {},
  "repo_name": "n8n-workflow",
  "repo_owner": "Giancarmine",
  "repo_path": "/",
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-12-03T10:48:30.952Z",
      "createdAt": "2025-12-03T10:48:30.952Z",
      "role": "workflow:owner",
      "workflowId": "e3ENKYlla0Kzzou3",
      "projectId": "6sKqo8zT7fKLDUHs"
    }
  ],
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-12-07T22:37:27.770Z",
  "versionId": "9233b9bb-23fd-4038-a62b-c1ce4cbecf54"
}