test2025/12/General Web Scraper.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "Set": {
      "main": [
        [
          {
            "node": "HTTP Request - Get my Stars",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set - Increment Page": {
      "main": [
        [
          {
            "node": "HTTP Request - Get my Stars",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If - Are we finished?": {
      "main": [
        [],
        [
          {
            "node": "Set - Increment Page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On clicking 'execute'": {
      "main": [
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request - Get Mock Albums",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request - Get Wikipedia Page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Item Lists - Fetch Body": {
      "main": [
        [
          {
            "node": "If - Are we finished?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - Get my Stars": {
      "main": [
        [
          {
            "node": "Item Lists - Fetch Body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - Get Mock Albums": {
      "main": [
        [
          {
            "node": "Item Lists - Create Items from Body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - Get Wikipedia Page": {
      "main": [
        [
          {
            "node": "HTML Extract - Extract Article Title",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "constants": {
    "repo_owner": "Giancarmine",
    "repo_name": "n8n-workflow",
    "repo_path": "test"
  },
  "createdAt": "2025-12-03T09:24:14.907Z",
  "id": "107vSJWmtLFpKhcn",
  "isArchived": false,
  "meta": null,
  "name": "General Web Scraper",
  "nodes": [
    {
      "parameters": {},
      "id": "9145610b-e211-4d37-94cd-797c2e6ae05e",
      "name": "On clicking 'execute'",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        -272,
        544
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## HTTP Request\n### This workflow shows the most common use cases of the HTTP request node, and how to handle its output\n\n\n### Click the `Execute Workflow` button and double click on the nodes to see the input and output items.",
        "height": 200,
        "width": 440
      },
      "id": "9133c546-1f0e-4444-b3f3-ab2562869d1b",
      "name": "Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -816,
        496
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 3. Handle Pagination\n### Sometimes you need to make the same request multiple times to get all the data you need (pagination).\n\n### The pagination process goes as follow:\n### 1. Loop through the pages of the input source (`HTTP Request` node named \"Get my Starts\")\n### 2. Increment the page at the end of each loop (done with the `set` node named \"Increment Page\") \n### 3. Stop looping when there are no pages left (checked at the `If` node named \"Are we Finished?\")\n\n\n\n",
        "height": 460.847917534361,
        "width": 986.3743856726365
      },
      "id": "c5e01af3-9574-4b22-8e74-28ddf830b3ee",
      "name": "Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        80,
        736
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "values": {
          "number": [
            {
              "name": "page"
            },
            {
              "name": "perpage",
              "value": 15
            }
          ],
          "string": [
            {
              "name": "githubUser",
              "value": "Giancarmine"
            }
          ]
        },
        "options": {}
      },
      "id": "0de83042-2bf8-4201-bfff-ec98d0a19e33",
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "position": [
        160,
        976
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 2. Data Scraping\n### In this example we fetch the titles from the n8n blog using the `HTTP request` node and then we use the `HTML extract` node to pass.",
        "height": 280,
        "width": 680
      },
      "id": "22fa74e1-f9ba-4283-9320-c3efbb709d81",
      "name": "Note6",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        80,
        432
      ],
      "typeVersion": 1,
      "disabled": true
    },
    {
      "parameters": {
        "content": "## 1. Split into items\n### In this example, we take the body from an `HTTP Request` node and split it out into items that are easier to manage.",
        "height": 280,
        "width": 500
      },
      "id": "d17f7335-e4bf-466c-8d9a-532742e424b5",
      "name": "Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        80,
        128
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "fieldToSplitOut": "body",
        "options": {}
      },
      "id": "1b8b99c9-af8a-461f-941e-5889b09a2ade",
      "name": "Item Lists - Create Items from Body",
      "type": "n8n-nodes-base.itemLists",
      "position": [
        336,
        240
      ],
      "notesInFlow": false,
      "typeVersion": 1,
      "notes": "Create Items from Body"
    },
    {
      "parameters": {
        "sourceData": "binary",
        "extractionValues": {
          "values": [
            {
              "key": "ArticleTitle",
              "cssSelector": "#firstHeading"
            }
          ]
        },
        "options": {}
      },
      "id": "77ca4356-0cf6-40cb-8d9e-45299fc185ce",
      "name": "HTML Extract - Extract Article Title",
      "type": "n8n-nodes-base.htmlExtract",
      "position": [
        320,
        544
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "fieldToSplitOut": "body",
        "options": {}
      },
      "id": "ed21cf25-b1c5-4d5d-9a04-b78ad8b3dcad",
      "name": "Item Lists - Fetch Body",
      "type": "n8n-nodes-base.itemLists",
      "position": [
        512,
        976
      ],
      "typeVersion": 1,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$node[\"HTTP Request - Get my Stars\"].json[\"body\"]}}",
              "operation": "isEmpty"
            }
          ]
        }
      },
      "id": "ed85b8a0-e13e-4302-ac82-89a1cd0d701c",
      "name": "If - Are we finished?",
      "type": "n8n-nodes-base.if",
      "position": [
        688,
        976
      ],
      "executeOnce": true,
      "typeVersion": 1
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "page",
              "value": "={{$node[\"Set\"].json[\"page\"]++}}"
            }
          ]
        },
        "options": {}
      },
      "id": "b5b37c1f-2731-41cc-bd81-cf825210647b",
      "name": "Set - Increment Page",
      "type": "n8n-nodes-base.set",
      "position": [
        912,
        1008
      ],
      "executeOnce": true,
      "typeVersion": 1
    },
    {
      "parameters": {
        "url": "https://jsonplaceholder.typicode.com/albums",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "1bf74413-19b9-4acf-a855-3e2b531857f5",
      "name": "HTTP Request - Get Mock Albums",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        160,
        240
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "url": "https://www.youtube.com/",
        "options": {
          "redirect": {
            "redirect": {
              "followRedirects": true
            }
          },
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "7ddd4f3a-01bd-4211-8aa7-eb50dcc99d88",
      "name": "HTTP Request - Get Wikipedia Page",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        128,
        544
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "url": "=https://api.github.com/users/{{$node[\"Set\"].json[\"githubUser\"]}}/starred",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "per_page",
              "value": "={{$node[\"Set\"].json[\"perpage\"]}}"
            },
            {
              "name": "page",
              "value": "={{$node[\"Set\"].json[\"page\"]}}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "72209147-8725-44e7-ba58-ac43c68bc04d",
      "name": "HTTP Request - Get my Stars",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        336,
        976
      ],
      "typeVersion": 3
    }
  ],
  "pinData": {},
  "repo_name": "n8n-workflow",
  "repo_owner": "Giancarmine",
  "repo_path": "test",
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-12-03T09:24:14.907Z",
      "createdAt": "2025-12-03T09:24:14.907Z",
      "role": "workflow:owner",
      "workflowId": "107vSJWmtLFpKhcn",
      "projectId": "6sKqo8zT7fKLDUHs"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-12-03T17:11:49.572Z",
  "versionId": "8d40b255-9ba5-44df-ac39-686e16aec051"
}